= f.hidden_field :icon, id: 'select_icon'
%input#focus_icon{:type =>"hidden"}

%button.default{:type => "button"}
%button.aed-2{:type => "button"}
%button.construction{:type => "button"}
%button.daycare{:type => "button"}
%button.drugstore{:type => "button"}
%button.fetalalcoholsyndrom{:type => "button"}
%button.firstaid{:type => "button"}
%button.hospital-building{:type => "button"}
%button.medicine{:type => "button"}
%button.nanny{:type => "button"}
%button.nursery{:type => "button"}
%button.villa{:type => "button"}
%br
%br
%br
%button.army{:type => "button"}
%button.bomber-2{:type => "button"}
%button.chemistry-2{:type => "button"}
%button.constructioncrane{:type => "button"}
%button.cycling{:type => "button"}
%button.dentist{:type => "button"}
%button.disability{:type => "button"}
%button.factory{:type => "button"}
%button.fishing{:type => "button"}
%button.foodtruck{:type => "button"}
%button.footprint{:type => "button"}
%button.fourbyfour{:type => "button"}
%br
%br
%br
%button.gay-female{:type => "button"}
%button.gay-male{:type => "button"}
%button.highschool{:type => "button"}
%button.school{:type => "button"}
%button.university{:type => "button"}
%button.hiking{:type => "button"}
%button.hoseriding{:type => "button"}
%button.hostel_0star{:type => "button"}
%button.hotel_0star{:type => "button"}
%button.lodging_0star{:type => "button"}
%button.motel-2{:type => "button"}
%button.youthhostel{:type => "button"}
%br
%br
%br
%button.mastcrane1{:type => "button"}
%button.ophthalmologist{:type => "button"}
%button.powerlinepole{:type => "button"}
%button.poweroutage{:type => "button"}
%button.powerplant{:type => "button"}
%button.powersubstation{:type => "button"}
%button.radio-station-2{:type => "button"}
%button.windturbine{:type => "button"}
%button.mobilephonetower{:type => "button"}
%button.restaurant_fish{:type => "button"}
%button.sawmill-2{:type => "button"}
%button.mine{:type => "button"}
%br
%br
%br
%button.septic_tank{:type => "button"}
%button.shootingrange{:type => "button"}
%button.hunting{:type => "button"}
%button.solarenergy{:type => "button"}
%button.sozialeeinrichtung{:type => "button"}
%button.summercamp{:type => "button"}
%button.veterinary{:type => "button"}
%button.watertower{:type => "button"}
%button.wifi{:type => "button"}
%button.medicalstore{:type => "button"}
%button.recycle{:type => "button"}
%button.resort{:type => "button"}
%br
%br
%br
