%h2 Upload logo

- if collection.logo_url(:grayscale)
  Current:
  = image_tag collection.logo_url(:grayscale)

%br/
= form_tag(collection_upload_logo_path(collection), multipart: true) do
  = file_field_tag :logo

  = button_tag "Upload & edit", class: 'white'

%br/
%br/


