.box.plain.grey{:style => 'width: 66%' }
  .steps-line
    .steps-container.s3
      %span.circle.first{:class => if step >= 1 then 'green' end}
        %span.inner
          %span.step-name Upload
      %span.line-fill{:class => if step >= 2 then 'green' end}
      %span.circle{:class => if step >= 2 then 'green' end}
        %span.inner
          %span.step-name Curate
      %span.line-fill{:class => if step >= 3 then 'green' end}
      %span.circle.last{:class => if step >= 3 then 'green' end}
        %span.inner
          %span.step-name Import