:javascript
  $(function() { $('#upload').change(function() { $('#upload_form').submit() }); });

= render 'tabs'

.tabsline
  %h2 Import wizard
  %p First, upload your CSV file

  - if current_snapshot
    %p 
      You are currently browsing a snapshot.
      To make updates to the current version, 
      please go back to
      = link_to '[present time]', collection_path(collection, :anchor => 'snapshots')
  - else
    - if collection.sites.exists?
      %p
        We recommend you to
        = link_to 'download the existing CSV', api_collection_path(collection, format: "csv")
        , make changes to it and upload it here for doing a bulk update:
        %ul
          %li Remove rows for sites you are not interested in updating
          %li Add rows for new sites
          %li Remove columns for fields you are not interested in updating
          %li Add columns for new fields

    %form#upload_form{action: collection_import_wizard_upload_csv_path(collection), method: :post, enctype: 'multipart/form-data'}
      %input{type: :hidden, name: 'authenticity_token', value: form_authenticity_token}
      %input#upload{type: :file, name: :file}
