:javascript
  $(function() { $('#upload').change(function() { $('#upload_form').submit() }); });

= render 'tabs'

.tabsline
  %p This wizard will guide you through importing a CSV file in Resource Map.
  %p First, upload your CSV file.
  %form#upload_form{action: collection_import_wizard_upload_csv_path(collection), method: :post, enctype: 'multipart/form-data'}
    %input{type: :hidden, name: 'authenticity_token', value: form_authenticity_token}
    %input#upload{type: :file, name: :file}
