- content_for :head do
  = google_maps_javascript_include_tag
  :javascript
    $(function() { initCollections(); });

%h1 Collections

#refine-container{style: 'display:none'}
  <!-- ko if: currentCollection() -->
  = render 'refine'
  <!-- /ko -->

#collections-dummy{style: 'height:600px'}
#collections-main.box.nopadd.h50{style: 'display:none'}

  <!-- ko if: showingMap() -->
  = render 'map'
  <!-- /ko -->

  <!-- ko if: !showingMap() -->
  = render 'table'
  <!-- /ko -->

  .clear
