- content_for :head do
  :javascript
    $(function() { initCollections(#{collections.to_json}); });

.left
  .tablewrapp.w33

    -# Collections
    %table.GralTable.CleanTable{ko(:visible => 'root')}
      %tr
        %th
          My Collections
      <!-- ko foreach: collections -->
      %tr
        %td
          %button.faccept{ko(:text => :name), :type => "button"}
          %button.farrow.right{ko(:click => '$root.enterCollection')}
      <!-- /ko -->
      %tr
        %td.add{ko(:click => '$root.enterCreateCollection')}
          Create Collection
          %button.cadd.right{:type => "button"}

    -# Sites template
    %script{:type => "text/html", :id => "sites-template"}
      <!-- ko foreach: sites -->
      %tr
        %td{ko(:style => "{backgroundColor: selected() ? '#DDDDDD' : 'white'}")}
          %div{ko(:style => "{paddingLeft: '' + ((level() - 1) * 16) + 'px'}")}
            %button.ffolder{ko(:click => :expand, :visible => '!expanded()'), :type => 'button'}
            %button.ffolder{ko(:click => :collapse, :visible => :expanded), :type => 'button'}
            %span{ko(:text => :name, :click => '$root.selectSite'), :style => 'cursor: pointer'}
            %button.farrow.right
      <!-- ko if: expanded -->
      <!-- ko template: {name: 'sites-template', with: sites} -->
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->

    -# Collection sites
    %table.GralTable.CleanTable{ko(:with => :selectedCollection)}
      %tr
        %th
          %button.fleft{ko(:click => '$root.enterRoot'), :type => 'button'}
          %span{ko(:text => :name)}
          .right
            %button.fconfiguration{ko(:click => '$root.editCollection'), :type => 'button'}
      <!-- ko template: {name: 'sites-template', with: $root.selectedCollection} -->
      <!-- /ko -->
      %tr
        %td
          %button.ffolder{ko(:click => '$root.enterCreateGroup'), :type => 'button'} Create Group

    -# Create collection group
    %form{ko(:with => :creatinGroupCollection, :submit => '$root.createGroup'), :action => '#'}
      %table.GralTable.CleanTable
        %tr
          %th
            %button.fleft{ko(:click => '$root.exitCreateGroup'), :type => 'button'}
            New Group
          %tr
            %td
              %br/
              = label_tag :name
              = text_field_tag :name, '', :placeholder => 'Enter new group name', 'data-bind' => kov(:value => '$root.groupName')
          %tr
            %td
              %button.grey{:type => 'submit'} Done
              Cancel

.right
  .tablewrapp.w60
