- content_for :head do
  :javascript
    $(function() { initCollections(#{collections.to_json}); });

.left
  .tablewrapp.w33

    -# Collections
    %table.GralTable.CleanTable{ko(:visible => 'root')}
      %tr
        %th
          My Collections
      <!-- ko foreach: collections -->
      %tr
        %td
          %button.faccept{ko(:text => :name), :type => "button"}
          %button.farrow.right{ko(:click => '$root.enterCollection')}
      <!-- /ko -->
      %tr
        %td.add{ko(:click => '$root.enterCreateCollection')}
          Create Collection
          %button.cadd.right{:type => "button"}

    -# Sites template
    %script{:type => "text/html", :id => "sites-template"}
      <!-- ko foreach: sites -->
      %tr
        %td
          %button.ffolder{ko(:text => :name, :click => :expand), :type => 'button'}
          -#%span{ko(:visible => '!expanded()', :click => :expand)} [+]
          -#%span{ko(:visible => :expanded, :click => :collapse)} [-]
          -#%span{ko(:text => :name)}
      <!-- ko if: expanded -->
      <!-- ko template: {name: 'sites-template', with: sites} -->
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->

    -# Collection sites
    %table.GralTable.CleanTable{ko(:with => :selectedCollection)}
      %tr
        %th
          %button.fleft{ko(:click => '$root.enterRoot'), :type => 'button'}
          %span{ko(:text => :name)}
          .right
            %button.fconfiguration{ko(:click => '$root.editCollection'), :type => 'button'}
      <!-- ko template: {name: 'sites-template', with: $root.selectedCollection} -->
      <!-- /ko -->
      %tr
        %td
          %button.ffolder{ko(:click => '$root.enterCreateFolder'), :type => 'button'} Create Group

    -# Create collection folder
    %form{ko(:with => :creatingCollectionFolder, :submit => '$root.createFolder'), :action => '#'}
      %table.GralTable.CleanTable
        %tr
          %th
            %button.fleft{ko(:click => '$root.exitCreateFolder'), :type => 'button'}
            New Group
          %tr
            %td
              %br/
              = label_tag :name
              = text_field_tag :name, '', :placeholder => 'Enter new folder name', 'data-bind' => kov(:value => '$root.newFolderName')
          %tr
            %td
              %button.ffolder{:type => 'submit'} Done
              Cancel

.right
  .tablewrapp.w60
