- content_for :head do
  :javascript
    $(function() { 
      var sites = ['Kampong Chhnang', 'Sihanoukville (Kampong Som)', 'Kampong Speu', 'Kampot', 'Mongkol Borie', 'Neak Leung'];
      $(".sites").superblyTagField({
        allowNewTags: true,
        showTagsNumber: 10,
        preset: sites,
        tags: sites
      });
    });

= render 'tabs'

.tabsline
  %h2 Reminders
  .box.grey.w60
    .toptitle
      %span Vaccines
      &rarr;
      %em Montly for all sites
    .rightbuttons
      %button.fdelete
    .message
      %span This is to inform that the condition will be applied....TThis is to inform that the condition will be applied....This is to inform that the condition will be applied....TThis is to inform that the condition will be applied....

    %button.farrow Edit
  %br/
  .box.w60
    .rightbuttons
      %button.fdelete
    %label Name
    %br/
    %input.w30{type: :text}
    %br/

    %label Sites
    %br/
    %label.smalltext site's owner will receive this reminder 
    %br/
    %input.sites
    %br/
    %label Date
    %br/
    %input.ux-datepicker.w20{ type: :text }
    %select
      %option 14:30
    %label repeat
    %select 
      %option from Monday to Friday
    %br/

    %label Message
    %br/
    %textarea.ux-wajbar.w30{ placeholder: 'Write your comment here', maxlength: 140, rows: 4 }

    .clear

    %hr/
    .bottom-actions
      %button.white{ type: :button } Save
      %a.tgrey{ href: 'javascript:void(0)' } Cancel

  -# Add new reminder link
  .box.grey.add
    %span Add Reminder
    %button.cadd.right{type: :button}
    %br{clear: :all}
