= render 'tabs'

.tabsline
  %h2 Reminders
  .box.grey.w60
    .toptitle
      %span Vaccines
      &rarr;
      %em Montly for all sites
    .rightbuttons
      %button.fdelete
    .message
      %span This is to inform that the condition will be applied....TThis is to inform that the condition will be applied....This is to inform that the condition will be applied....TThis is to inform that the condition will be applied....

    %button.farrow Edit
  %br/
  .box.w60
    .rightbuttons
      %button.fdelete
    %label Name
    %br/
    %input.w30{type: :text}
    %br/
    %label Sites
    %br/
    %label.smalltext site's owner will receive this reminder 
    %br/
    .superblyTagfieldDiv
      %ul.superblyTagItems
        %li.superblyTagItem 
          %span Pursat
          %a x
        %li.superblyTagInputItem
          %input.superblyTagInput
      .superblyTagfieldClearer
    %br/
    %label Date
    %br/
    %input.w10.ux-datepicker.hasDatepicker{type: :text}
    %select
      %option 14:30
    %label repeat
    %select 
      %option from Monday to Friday
    %br/
    %label Message
    %br/
    %textarea.w30.ui-wajbar{placeholder: "Write your message here"}
    .TaskBox
      .L 0
      .M 
        %span.Fill
      .R 140
    %button.white{type: :button} Save
    %button.white{type: :button} Cancel
  .box.grey.addlayer
    %span Add Reminder
    %button.cadd.right{type: :button}
    %br{clear: :all}
