%h1
  The page you are trying to access doesn't exist or you don't have permission for accessing it.
%h2
  Contact the administrator if you think you should.

= link_to "Back", :back, :class => 'white button'
