- content_for :head do
  :javascript
    $(function() { 
    
       function doAjaxStuff() {
        $.ajax({
          url: "/collections/" + window.model.collectionId() + "/sites",
          dataType: 'json',
          success: function (result) {
            var tags = new Array();

            $.each(result, function (intIndex, objValue){ 
              tags.push(result[intIndex].name); 
              });

            $(".sites").superblyTagField({
              preset: [],
              allowNewTags: false,
              tags: tags
            });
          }
        });
      }
      doAjaxStuff();
    });

= render 'collections/tabs'

.tabsline
  #reminders-main.hidden-until-loaded
    %h2 Reminders
    <!-- ko foreach: reminders -->
    .box.grey.w60
      .toptitle
        %span Vaccines
        &rarr;
        %em Montly for all sites
      .rightbuttons
        %button.fdelete
      .message
        %span This is to inform that the condition will be applied....TThis is to inform that the condition will be applied....This is to inform that the condition will be applied....TThis is to inform that the condition will be applied....

      %button.farrow Edit
    %br/
    <!-- /ko-->
    .box.w60{ko(visible: 'isVisibleFormEntry()')}
      <!-- ko with: currentReminder -->
      %label{ko(css: {error: 'nameError'})} Name
      %br/
      %input.w30{type: :text}
      %br/

      %label Sites
      %br/
      %label.smalltext site's owner will receive this reminder 
      %br/
      %input.sites
      %br/
      %label Date
      %br/
      %input.ux-datepicker.w20{ type: :text }
      %select{ko(options: '$root.getTimes()')}
      %label repeat
      %select{ko(options: '$root.repeats', optionsText: "'name'", optionsValue: "'id'")}
      %br/

      %label Message
      %br/
      %textarea.ux-wajbar.w30{ placeholder: 'Write your comment here', maxlength: 140, rows: 4 }

      .clear

      %hr/
      .bottom-actions
        %button.white{ ko(click: '$root.saveReminder')} Save
        %a.tgrey{ href: 'javascript:void(0)' } Cancel
        %span{ko(text: "'Can\\'t save: ' + error()"), style: 'color:red;margin-left:20px'}
      <!-- /ko -->
    -# Add new reminder link
    .box.grey.add{ ko(visible: '!currentReminder()', click: 'showAddReminder'), style: 'display:none'}
      %span Add Reminder
      %button.cadd.right{type: :button}
      %br{clear: :all}
