.homepage
  .right
    .medical
  %h1.home Make better decisions
  %p.sub Track Medical Supplies and Personnel in Real Time

  .arrow-bullets
    %p
      %span.r-arrow
      %b
        Free:
      Use it for free in the cloud OR download the code, it’s open source!
    %p
      %span.r-arrow
      %b
        Insightful:
      Gain insight into the location & distribution of medical supplies and personel
    %p
      %span.r-arrow
      %b
        Collaborative:
      Your team can record, track and analyze medical supplies and resources
    %p
      %span.r-arrow
      %b
        SMS Enabled:
      Use SMS to query, update or receive alerts from the system
    %p
      %span.r-arrow
      %b
        Map Ready:
      See everything on the map for a birds-eye view

  %br/

  - if current_user
    %p
      =link_button_to _('View your collections'), collections_path, :class => "orange large"
    %p
  - else
    %p
      = link_button_to "Try it now, it's free!", new_user_registration_path, :class => "orange large"
  .clear

  .home-middle-bar
    .benefits
      %ul#benefits-container
        %li
          %span.get-update.left
          %h3 Get updates
          %p as they happen, using a live map or text message request
        %li
          %span.visualize-and-update.left
          %h3 Visualize and update
          %p resource allocations without a complex and expensive GIS
        %li
          %span.update.left
          %h3 Update
          %p resource data from any text messaging-capable phone
        %li
          %span.identify.left
          %h3 Identify
          %p distribution patterns and anomalies with visual mapping and trend analysis
        %li
          %span.receive.left
          %h3 Receive
          %p important alerts instantly and address them proactively
        %li
          %span.collaborate.left
          %h3 Collaborate
          %p easily on resource allocation decisions
        %li
          %span.maintain.left
          %h3 Maintain
          %p complete control over the visibility of resource allocation data
        %li
          %span.i48grad-free.left
          %h3 Free
          %p for anyone to use to help increase their social impact
        %li
          %span.i48grad-openSource.left
          %h3 Open Source
          %p code for developers to use to improve its design and functionality

  .container
    %h1 What can I use it for?
    %p.desc
      Accurately tracking and allocating resources is critical to getting the  most from every asset at your disposal. Resource Map can help you maximize your resource allocation and usage.
    .left.w45
      %h2 Tracking Medical Supplies and Personnel
      .icon-container.left
        %span.tracking-medical-supplies
      %p In an emergency medical situation, when lives may hang in the balance, the last thing you want to do is waste time finding supplies, personnel, and mobile or permanent treatment facilities. With Resource Map, you can quickly locate and manage critical resources on a real-time map using a computer or smartphone. On an emergency scene, when you might not have access to computers or smartphones, you and your team can view and update resource allocations with any phone capable of text messaging.
    .clear
