.homepage
  #container
    %h1 What can I use it for?
    %p.desc{:style => "margin:0 0 15px !important;"}
      Accurately tracking and allocating resources is critical to getting the most from every asset at your disposal. Here are a few ways that Resource Map can help you maximize your resource allocation and usage:
    .left.w45{:style => "width: auto !important;"}
      %h2 Tracking Medical Supplies and Personnel
      .icon-container.left
        %span.tracking-medical-supplies      
      %p{:style => "font-size: 16px;"} In an emergency medical situation, when lives may hang in the balance, the last thing you want to do is waste time finding supplies, personnel, and mobile or permanent treatment facilities. With Resource Map, you can quickly locate and manage critical resources on a real-time map using a computer or smartphone. On an emergency scene, when you might not have access to computers or smartphones, you and your team can view and update resource allocations with any phone capable of text messaging.
    / #left w45
    .clear
    / #clear
    %br/
    .right.w45{:style => "width: auto !important;"}
      %h2 Monitoring Food Prices and Supply Levels
      .icon-container.left
        %span.monitoring-food-price
      %p{:style => "font-size: 16px;"} Whether you're helping economically disadvantaged people find nutritious, fresh, and affordable produce, managing food banks, or simply trying to chart the most popular edibles in a given area, Resource Map makes it easy. And since Resource Map can be updated using almost any cellular phone, your resource data is always just as fresh as the food.
    / #left w45
    .clear
    / #clear
    %br/
    .left.w45{:style => "width: auto !important;"}
      %h2 Managing Disease Prevention Supplies
      .icon-container.left
        %span.managing-disease-prevention-supplies
      %p{:style => "font-size: 16px;"} Medicine is at its best when it helps people avoid illness in the first place. Resource Map aids prevention efforts by giving teams new ways to manage key supply chain items, such as vaccines, vitamins, and other disease prevention tools. And by uploading statistics on various measures of health, you can even use Resource Map to monitor the effectiveness of your interventions. After all, a healthy community is one of your most important resources.
    / #left w45
    .clear
    / #clear
    %br/
    .right.w45{:style => "width: auto !important;"}
      %h2 Testing Environmental Health
      .icon-container.left
        %span.testing-enviromental-health
      %p{:style => "font-size: 16px;"} The health of any community is intimately related to the health of the environment that surrounds it. Resource Map helps to keep the air clean, the water pure, and sanitation effective by giving you instant, visual access to an array of environmental quality indicators. Field reports can be filed with any phone capable of text messaging, allowing your team the mobility it needs to test and report environmental conditions more frequently and easily.
    / #left w45
    .clear
    / #clear
    %br/
    %br/
    .box.plain.grey.features

      %h2 Features
      %br
      .left.w45{:style => "font-size: 16px;"}
        %div
          %span.r-arrow>
          View and update resource allocations via the Web or SMS text message
        %div
          %span.r-arrow>
          Receive instant Web or text alerts when resources are low
        %div
          %span.r-arrow>
          Request resource status updates using text messages
        %div
          %span.r-arrow>
          Import existing resource allocation data from spreadsheets
      / #left w45
      .right.w45{:style => "font-size: 16px;"}
        %div
          %span.r-arrow>
          Export your Resource Map database for further analysis in other applications
        %div
          %span.r-arrow>
          View aggregated data on a live resource map
        %div
          %span.r-arrow>
          Define and track custom data types and variables
        %div 
          %span.r-arrow>
          Visualize live and historical data on a map or using a graph
      / #right w45
      .clear
      / #clear
    / #box plain grey
    %br/
    %br/
    .box.plain.grey.features
      %p{:style => "margin: 0px;"}
        = link_button_to 'Sign up for free', new_user_registration_path, :class => "orange", :style => "font-size: 18px; height: 46px; width: 200px;margin-left:auto; margin-right: auto; display:block;"

    %br/ 
    %br/
    .w45.left{:style => "width: auto !important;"}

      %h1 How does it work?
      %p{:style => "font-size: 16px;"} Getting started with Resource Map is simple. Just enter resource allocation data manually or upload an existing spreadsheet containing the data. Once your data is online, it's easy to keep tabs on resources visually, on a real-time map, using any computer or smartphone. Even better, field teams can receive alerts, update resource deployment, and query resource status using any phone that can send and receive text messages, in addition to using a computer or smartphone. If you can get a cell phone signal, you can view and manage resources with Resource Map.
    / #w45 left
    = image_tag 'how_does_it_work.png', :localized => true, :style => "margin-left: auto; margin-right: auto;  display:block;"
    / #w45 right
    .clear
    / #clear
  #container
    %h1{:style => "margin: 5px 0 20px;"} Who is using it?

    .left.w45{:style => "width: auto !important;"}

      %h2 The National Center for Parasitology, Entomology and Malaria Control (CNM) 
      .icon-container.left
        %span.client-cnm
      %p{:style => "font-size: 16px;"}
        With the support of the Clinton Health Access Initiative (CHAI), CNM uses Resource Map to support their malaria drug program with our tool to capture malaria drug updates from at risk health centers on a two week cycle. The goal of monitoring resources so closely is to improve the stock management of malaria treatment drugs. This tool helps the health centers to avoid the possibility of over or under stocking important drug supplies.
      / #left w45
    .clear
    / #clear
    %br/

    .right.w45{:style => "width: auto !important;"}

      %h2 Center for Malaria Parasitology and Entomology      
      .icon-container.left
        %span.client-CMPE
      %p{:style => "font-size: 16px;"}
        With the support from the Global Fund, the Center for Malaria Parasitology and Entomology of Laos PDR (CMPE) uses Resource Map to report both the stock levels of life saving malaria drugs and the number of Malaria cases located at the village health centers up to the national level.  This allows the Ministry of Health to have a real time visual picture of what resources are available and what is needed to treat patients.
    
    .clear
    %br
    .left.w45{:style => "width: auto !important;"}

      %h2 Rwanda Ministry of Health
      .icon-container.left
        %span.client-wranda-ministry-of-health
      %p{:style => "font-size: 16px;"}
        The Rwanda Ministry of Health uses Resource Map as its Facility Registry service. The Facility Registry provides the master list of hospitals, clinics and health services and is a building block of Rwanda's national Health Information System, which integrates Resource Map data into clinical and public health workflows and tools across the country.

    / #left w45
    .clear
    %br
    %br 
  .box.plain.grey.features
    %p{:style => "margin: 0px;"}
      = link_button_to 'Sign up for free', new_user_registration_path, :class => "orange", :style => "font-size: 18px; height: 46px; width: 200px;margin-left: auto; margin-right: auto;  display:block;"

