%hr/
%img.members-collapse-icon{ko(click: 'toggleAdvancedExpanded', attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (advancedExpanded() ? 'Down' : 'Right') + '.png'"})}
%label{ko(click: 'toggleAdvancedExpanded')} Advanced
