= render 'layers/advanced_field_label'

/ko if: impl().advancedExpanded()
%br/
%br/
%label Date Format
%p.smalltext Format that will be used to display and update date values inside this collection.

//ko
