#hierarchy_editor{ko(with: '$root.currentHierarchyUnderEdition'), style:'display: none;'}
  %h2{ko(text: '$root.currentHierarchyFieldName()')}
  %p Edit or create a hierarchy for this field.
  .box.w60
    .filter-header
      %a#collapse-all{ko(click: :collapseAll)} Collapse all
    %hr
    %ul.h-editor
      /ko template: {name: 'hierarchy-editor-items-template', foreach: hierarchyItems}
      / /ko
    %button.cadd Create item
  %br
  .bottom-actions
    %button.white Save
    %a.tgrey{:href => "#"} Cancel
