-# Hierarchy item template
%script{type: "text/html", id: "hierarchy-editor-items-template"}
  %li{ko(css: "{'expanded': expanded, 'collapsed': !expanded(), active: active}", event: { mouseover: :toggleActive, mouseout: :toggleActive }, mouseoverBubble: false)}
    .name
      %span.arrow{ko(click: :toggleExpand)}
      %a.n-label
        #{ko_text :name}
        %span.number{ko(text: :id)}
      %a.icon.pdelete.right{ko(click: :deleteItem)}
      %a.icon.paddchild.right
    / ko if: addingItem
    .fields
      %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
      %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
      %a.icon.fdelete.right{title: 'Delete'}
      %a.icon.faccept.right{title: 'Accept'}
    / /ko
    %ul.h-editor
      /ko if: expanded
      /ko template: {name: 'hierarchy-editor-items-template', foreach: hierarchyItems}
      //ko
      //ko

#hierarchy_editor{ko(with: '$root.currentHierarchyUnderEdition'), style:'display: none;'}
  %h2{ko(text: '$root.currentHierarchyFieldName()')}
  %p Edit or create a hierarchy for this field.
  .box.w60
    .filter-header
      %a#collapse-all{ko(click: :collapseAll)} Collapse all
    %hr
    %ul.h-editor
      /ko template: {name: 'hierarchy-editor-items-template', foreach: hierarchyItems}
      / /ko
    %button.cadd Create item
  %br
  .bottom-actions
    %button.white{ko(click: :saveHierarchy)} Save
    %a.tgrey{ko(click: :closeFancyBox)} Cancel
