%h2 Counties hierarchy
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at odio vitae lgula imperdiet pharetra vel portitor risus. Donec lacinia ultricies ultricies.
.box.w60
  .filter-header
    %input.ux-search.w30{:placeholder => "Search", :type => "text"}/
    %a#collapse-all{:href => "#"} Collapse all
  %hr
  %ul.h-editor
    %li.collapsed
      .name
        %span.arrow
        %a.n-label{:href => "#"}
          Banteay Meanchey
          %span.number 1
        %a.icon.pdelete.right{title: 'Delete'}
        %a.icon.paddchild.right{title: 'Add child'}
      .fields
        %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
        %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
        %a.icon.fdelete.right{title: 'Delete'}
        %a.icon.faccept.right{title: 'Accept'}
    %li.collapsed
      .name
        %span.arrow
        %a.n-label{:href => "#"}
          Banttambag
          %span.number 2
        %a.icon.pdelete.right{title: 'Delete'}
        %a.icon.paddchild.right{title: 'Add child'}
      .fields
        %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
        %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
        %a.icon.fdelete.right{title: 'Delete'}
        %a.icon.faccept.right{title: 'Accept'}
    %li.expanded
      .name
        %span.arrow
        %a.n-label{:href => "#"}
          Kampong Cham
          %span.number 3
        %a.icon.pdelete.right{title: 'Delete'}
        %a.icon.paddchild.right{title: 'Add child'}
      .fields
        %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
        %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
        %a.icon.fdelete.right{title: 'Delete'}
        %a.icon.faccept.right{title: 'Accept'}
      %ul.h-editor
        %li.collapsed
          .name
            %span.arrow
            %a.n-label{:href => "#"}
              Bantheavy
              %span.number 7
            %a.icon.pdelete.right{title: 'Delete'}
            %a.icon.paddchild.right{title: 'Add child'}
          .fields
            %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
            %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
            %a.icon.fdelete.right{title: 'Delete'}
            %a.icon.faccept.right{title: 'Accept'}
        %li.collapsed
          .name
            %span.arrow
            %a.n-label{:href => "#"}
              Chamkar Leu
              %span.number 8
            %a.icon.pdelete.right{title: 'Delete'}
            %a.icon.paddchild.right{title: 'Add child'}
          .fields
            %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
            %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
            %a.icon.fdelete.right{title: 'Delete'}
            %a.icon.faccept.right{title: 'Accept'}
        %li.collapsed
          .name
            %span.arrow
            %a.n-label{:href => "#"}
              Cheung Prey
              %span.number 9
            %a.icon.pdelete.right{title: 'Delete'}
            %a.icon.paddchild.right{title: 'Add child'}
          .fields
            %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
            %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
            %a.icon.fdelete.right{title: 'Delete'}
            %a.icon.faccept.right{title: 'Accept'}
    %li.collapsed
      .name
        %span.arrow
        %a.n-label{:href => "#"}
          Kampong Chhang
          %span.number 4
        %a.icon.pdelete.right{title: 'Delete'}
        %a.icon.paddchild.right{title: 'Add child'}
      .fields
        %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
        %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
        %a.icon.fdelete.right{title: 'Delete'}
        %a.icon.faccept.right{title: 'Accept'}
    %li.collapsed
      .name
        %span.arrow
        %a.n-label{:href => "#"}
          Kampong Speu
          %span.number 5
        %a.icon.pdelete.right{title: 'Delete'}
        %a.icon.paddchild.right{title: 'Add child'}
      .fields
        %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
        %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
        %a.icon.fdelete.right{title: 'Delete'}
        %a.icon.faccept.right{title: 'Accept'}
    %li.collapsed
      .name
        %span.arrow
        %a.n-label{:href => "#"}
          Kampong Thom
          %span.number 6
        %a.icon.pdelete.right{title: 'Delete'}
        %a.icon.paddchild.right{title: 'Add child'}
      .fields
        %input.ux-text.f-name{:placeholder => "Name", :type => "text"}/
        %input.ux-text.f-id{:placeholder => "id", :type => "text"}/
        %a.icon.fdelete.right{title: 'Delete'}
        %a.icon.faccept.right{title: 'Accept'}
  %button.cadd Create item
%br
.bottom-actions
  %button.white Save
  %a.tgrey{:href => "#"} Cancel
