%h1 SMS Gateway
.tabsline
  #gateways-main.hidden-until-loaded 
    <!-- ko foreach: gateways -->
    <!-- ko if: $data != $root.currentGateway() -->
    .box.grey.w60
      .toptitle
        %span{ko(text: :name)}
        &rarr;
      .rightbuttons
        %p.field.switch
          %label{ko(click: '$root.onOffEnable', attr: { class: :enableCss })}
            %span 
          %label{ko(click: '$root.onOffDisable', attr: { class: :disableCss })}
            %span 
        %button.fdelete{ko(click: '$root.deleteGateway')}
          
      .middlebuttons{ko(visible: '!clientConnected()')}
        %label Gateway URL : 
        %span{ko(text: :gateWayURL)} 
        %br 
        %label User Name :
        %span{ko(text: :nuntiumChannelName)} 
        %br 
        %label Password :
        %span{ko(text: :password)} 

        %br
        %label.error{ko(text: :queuedMessageText)}
      .middlebuttons{ko(visible: 'clientConnected')}
        %label Phone number:
        %span{ko(text: :phoneNumber)} 
        %br 
        %label Gateway URL:
        %span{ko(text: :gateWayURL)} 
        %br
        %label User Name:
        %span{ko(text: :nuntiumChannelName)} 


      %button.farrow{ko(visible: '!clientConnected()', click: '$root.editGateway')} Edit configuration
      %button.fmessage{ko(visible: 'clientConnected() && !isTry()', click: '$root.setIsTry')} Test Your Gateway
      .middlebuttons{ko(visible: 'isTry')}
        %label
        %input{ko(value: :tryPhoneNumber, valueUpdate: :afterkeydown), type: :text, style: 'width:240px', placeholder: 'Enter your destination phone number' }
        %button.fmessage{ko(click: '$root.tryGateway', enable: 'valid')} Send Now!

        %button.fclose{ko(click: '$root.cancel')} Cancel
    %br
    <!-- /ko -->
    
    -# Form editor or new
    <!-- ko if: $data == $root.currentGateway() -->
    .box.w60
      .middlebuttons
        %label{ko(css: {error: 'nameError'})} Name
        %br
        %input{ko(value: :name, valueUpdate: :afterkeydown),type: :text, style: 'width:240px'}
        %br
        %label{ko(css: {error: 'passwordError'})} Password
        -#%label{ko(visible: "!isManualConfiguration()", css: {error: 'ticketCodeError'})} Key
        %br
        %input{ko(value: :password, valueUpdate: :afterkeydown), type: :password, style: 'width:240px'}
        -#%input{ko(visible: "!isManualConfiguration()", hasfocus: true, value: :ticketCode, valueUpdate: :afterkeydown), type: :text, style: 'width:240px'}
        %br
        -#%input{ko(checked: :isManualConfiguration), type: :checkbox} Manual configuration
        %br
        .bottom-actions
          %button.white{ ko(click: '$root.saveGateway', enable: :valid) } Save
          %a.tgrey{ ko(click: '$root.cancelGateway'), href: 'javascript:void(0)' } Cancel
          <!-- ko if: !valid() -->
          %span{ ko(text: "'Can\\'t save: ' + error()"), style: 'color:red;margin-left:20px' } Can't save
          <!-- /ko -->
    %br 
    <!-- /ko -->
    <!-- /ko -->
    
    .box.grey.add{ ko(visible: '!currentGateway()', click: 'addGateway'), style: 'display:none'}
      %span
        Add Gateway
      %button.cadd.right
      %br{clear: :all}

