%tr{:style => 'height:32px'}
  %td
    %button.cadd#add_member Add member
  %td#autocomplete_container{style: 'width: 380px;'}
    = text_field_tag :member_email, '', :placeholder => 'Search by email...'
  %td
  %td
