%td.member{ko(click: :toggleExpanded), style: 'cursor:pointer;'}
  %div
    %img.members-collapse-icon{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"})}
    %span{ko(text: :userDisplayName)}
