= render 'collections/members/collapsible_member'
/No permission
%td.members-permission
  %input{ko(checked: :someLayersNone, enable: :isNotAdmin, css: { partially_selected: '!allLayersNone()' }), type: :radio}
/Read permission
%td.members-permission
  %input{ko(checked: :someLayersRead, enable: :isNotAdmin, css: { partially_selected: '!allLayersRead()' }), type: :radio}
/Update permission
%td.members-permission
  %input{ko(checked: :someLayersWrite, enable: :isNotAdmin, css: { partially_selected: '!allLayersUpdate()' }), type: :radio}
/Admin permission
%td.members-permission
  %input{ko(checked: :isAdmin, enable: :isNotAdmin), type: :radio}
%td
