%tr{ko(css: { :membersFirstRow => '$index() == 0', :membersRow => '$index() > 0' })}
  %td.member{ko(click: :toggleExpanded), style: 'cursor:pointer;'}
    %img.members-collapse-icon{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"})}
    %span{ko(text: :userDisplayName)}
  /Old piece started here
  %td.members-permission
    %input{type: 'radio', name: 'foo'}
  %td.members-permission
    %input{type: 'radio', name: 'foo'}
  %td.members-permission
    %input{type: 'radio', name: 'foo'}
  %td.members-permission
    %input{type: 'radio', name: 'foo'}
  %td
/ko if: expanded
/ko foreach: membershipLayerLinks
%tr{:style => 'height:32px'}
  - if collection_admin?
    %td
  %td
    %span{ko(text: 'layer.name()'), style: 'margin-left:20px'}
  %td
  /ko if: !$root.admin() || membership.isCurrentUser()
  %td.center{ko(text: :canReadUI)}
  %td.center{ko(text: :canWriteUI)}
  //ko
  /ko if: $root.admin() && !membership.isCurrentUser()
  %td.center
    %input{ko(checked: :canRead, enable: '!$parent.admin()'), type: :checkbox}
  %td.center
    %input{ko(checked: :canWrite, enable: '!$parent.admin()'), type: :checkbox}
  //ko
  %td
//ko
//ko
