= render 'collections/members/collapsible_member'
%td.permissionCell
  .memberCellContent
  .memberDetails
    %hr{:class => :underlineExpandedMember}
%td.permissionCell
  .memberCellContent
  .memberDetails
    %hr{:class => :underlineExpandedMember}
%td.permissionCell
  .memberCellContent
  .memberDetails
    %hr{:class => :underlineExpandedMember}
%td.permissionCell
  .memberCellContent
  .memberDetails
    %hr{:class => :underlineExpandedMember}
%td.lastCell
  .memberCellContent
  .memberDetails
