= render 'collections/members/collapsible_member'
%td.permissionCell
  .memberCellContent
  %hr{:class => :underlineExpandedMember}
  .memberDetails
%td.permissionCell
  .memberCellContent
  %hr{:class => :underlineExpandedMember}
  .memberDetails
%td.permissionCell
  .memberCellContent
  %hr{:class => :underlineExpandedMember}
  .memberDetails
%td.permissionCell
  .memberCellContent
  %hr{:class => :underlineExpandedMember}
  .memberDetails
%td.lastCell
  .memberCellContent
  .memberDetails
