.tablewrapp
  %table.GralTable
    %tr
      %th.members-tree{style: '-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;'} Layer &rarr; Member
      %th Can Update?
    /ko foreach: layers
    %tr{:style => 'height:32px'}
      %td{ko(click: :toggleExpanded), style: 'cursor:pointer'}
        %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"}), style: "position:relative;top:1px", width: 11, height: 11}
        %span{ko(text: :name)}
      /ko if: !$root.admin()
      %td.center{ko(text: :allReadUI)}
      %td.center{ko(text: :allWriteUI)}
      //ko
      /ko if: $root.admin()
      %td.center
        %span{ko(attr: {:class => :allRead}, click: :toggleAllRead)}
      %td.center
        %span{ko(attr: {:class => :allWrite}, click: :toggleAllWrite)}
      //ko
    /ko if: expanded
    = render 'collections/members/grouped_by_layer_expanded'
    //ko
    //ko
