= render 'collections/tabs'
.tabsline
  #channels-main.hidden-until-loaded 
    %h2 Channels

    .box.grey.w60
      .toptitle
        %span Regional(Mobitel)
        &rarr;
        %em Hospital Facilities, Health Center
      .rightbuttons
        %button.fdelete 
