= stylesheet_link_tag 'channels'
= render '/tabs'
.tabsline
  #channels-main.hidden-until-loaded
    %h2 SMS Settings
    %p Please select the SMS gateways to be used for this collection. When using more than one gateway the system will use one of the other gateways if the primary fails. 
    <!-- ko foreach: gateways -->
    %input{ko(checked: '$root.selectedGateways', value: :id), type: "checkbox" }
    %span{ko(text: :name )}
    %hr{style: "margin:0px;height:3px;background-color: #FFFFFF;"}
    <!-- /ko --> 
    %p 
      %a{href: 'gateways_path'} 
        Click here to configure your SMS gateways
    .bottom-actions
      %button.white{ ko(click: '$root.saveChannel') } Save
      = link_to 'or cancel', collections_path, :style => 'text-decoration:underline;color:'
  %br{clear: :all}

