- content_for :head do
  = stylesheet_link_tag 'site_memberships'

= render 'collections/tabs'

.tabsline
  #site-memberships-main.hidden-until-loaded
    %h2 Site Memberships by user field type
    %p Manage who can see/read/write/delete site
    %br/

    .tablewrapp
      %table.GralTable
        %tr
          %th
          %th Field
          %th.w90 Can View?
          %th.w90 Can Update?
          %th.w90 Can Delete?
          %th
        / ko foreach: memberships
        %tr.h32
          %td
          %td{ko(text: 'field.name')}
          - if collection_admin?
            %td.center
              %input{ko(checked: :canView), type: :checkbox}
            %td.center
              %input{ko(checked: :canUpdate), type: :checkbox}
            %td.center
              %input{ko(checked: :canDelete), type: :checkbox}
          - else
            %td.center{ko(text: :canViewUI)}
            %td.center{ko(text: :canUpdateUI)}
            %td.center{ko(text: :canDeleteUI)}
          %td 
        / /ko
