/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fixedheadertable
 *= require_tree .
 *= require jquery.fancybox
 *= require_fullscreen
*/

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#container {
  height:100%;
}

#footer-span {
  position:relative;
}

#NavMenu ul {
  background: transparent;
}

.refine-popup a.button.white {
  padding: 7px 5px !important;
}

.homepage .illustration {
  background: url("/assets/data_collection.png") no-repeat scroll 0 0 transparent;
  height: 286px;
  width: 401px;
}

.homepage .food {
  background: url("/assets/tracking_food.jpg") no-repeat scroll 0 0 transparent;
  height: 260px;
  width: 360px;
}

.homepage .medical {
  background: url("/assets/tracking_medical.png") no-repeat scroll 0 0 transparent;
  height: 200px;
  width: 300px;
}

.get-update {
  background: url("/assets/get_update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.visualize-and-update {
  background: url("/assets/visualize_and_update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.update {
  background: url("/assets/update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.identify {
  background: url("/assets/identify.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.receive {
  background: url("/assets/receive.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.collaborate {
  background: url("/assets/collaborate.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.maintain {
  background: url("/assets/maintain.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.tracking-medical-supplies {
  background: url("/assets/tracking_medical_supplies_and_personnel.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.managing-disease-prevention-supplies {
  background: url("/assets/managing_disease_prevention_supplies.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.monitoring-food-price {
  background: url("/assets/monitoring_food_price_and_supply_levels.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.testing-enviromental-health {
  background: url("/assets/testing_enviromental_health.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-cnm {
  background: url("/assets/centre_nationale_de_malaria.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-wranda-ministry-of-health {
  background: url("/assets/rwanda_coat_of_arms.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-CMPE {
  background: url("/assets/Center_for_Malaria_Parasitology_and_Entomology_of_Lao_PDR.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

#export {
  margin:0;
  padding:2px;
  display:inline-block;
}

#export .link {
  color: black;
  text-decoration:underline;
  cursor:pointer;
  margin:0;
}

.delete-collection-or-sites {
  height:60px;
}

.delete-collection-or-sites .left {
  margin-right:10px;
}

.settings-form label {
  padding-bottom:5px;
}

.GralTable th.members-tree {
  border:1px solid white;
  color:#555555;
  background-color:#D0D0D0;
  background-image:none;
  /*width:50px;*/
}

.GralTable td.member {
  /*width:100px;*/
}

.GralTable th.members-permission, td.members-permission {
  /*width:50px;*/
  text-align: center;
}

.GralTable tr.membersFirstRow td {
  padding-top:10px;
  height:30px;
}

.GralTable tr.membersRow td {
  height:32px;
}

.members-collapse-icon {
  position:relative;
  top:1px;
  width:11px;
  height:11px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0d0d0));
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

input[type='checkbox']:disabled {
  box-shadow: none !important;
  border: 1px solid #d0d0d0 !important;
  background: none !important;
  background-color: white !important;
}

input[type='checkbox']:active, input[type='checkbox']:focus, input[type='checkbox']:checked:active {
    padding: 8px;
    border-radius: 4px;
    top: 1px;
    background: none;
    background-color: #d0d0d0;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;
}

input[type='checkbox']:checked {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0d0d0));
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

input[type='checkbox']:checked:after {
    content: '\2714';
    font-size: 13px;
    position: absolute;
    top: 0px;
    left: 2px;
    color: transparent;
    background-image: url('/assets/tick.png');
    background-repeat: no-repeat;
    top:3px;
}

input[type='checkbox']:checked:disabled:after {
  background-image: url('/assets/tick_disabled.png');
}

input[type='radio'] {
    -webkit-appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0d0d0));
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    padding: 6px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

input[type='radio']:disabled {
  box-shadow: none !important;
  border: 1px solid #d0d0d0 !important;
  background: none !important;
  background-color: white !important;
}

input[type='radio']:checked:after {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #333333;
    left: 3px;
    font-size: 32px;
}

input[type='radio']:checked:disabled:after {
  background: #d0d0d0;
}

input[type='radio']:checked:active:after {
    top: 4px;
    left: 4px;
}

input[type='radio']:checked {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0d0d0));
    border: 1px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

input[type='radio']:active, input[type='radio']:focus, input[type='radio']:checked:active {
  padding: 7px;
  border-radius: 50px;
  top: 1px;
  background: none;
  background-color: #d0d0d0;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;
}
