.default {
  background-image: asset-url("resmap_default.png");
}

.aed-2 {
  background-image: asset-url("resmap_aed-2.png");
}

.construction {
  background-image: asset-url("resmap_construction.png");
}

.daycare {
  background-image: asset-url("resmap_daycare.png");
}

.drugstore {
  background-image: asset-url("resmap_drugstore.png");
}

.fetalalcoholsyndrom {
  background-image: asset-url("resmap_fetalalcoholsyndrom.png");
}

.firstaid {
  background-image: asset-url("resmap_firstaid.png");
}

.hospital-building {
  background-image: asset-url("resmap_hospital-building.png");
}

.medicine {
  background-image: asset-url("resmap_medicine.png");
}

.nanny {
  background-image: asset-url("resmap_nanny.png");
}

.nursery {
  background-image: asset-url("resmap_nursery.png");
}

.shooting {
  background-image: asset-url("resmap_shooting.png");
}

.villa {
  background-image: asset-url("resmap_villa.png");
}

.army {
  background-image: asset-url("resmap_army.png");
}

.bomber-2 {
  background-image: asset-url("resmap_bomber-2.png");
}

.chemistry-2 {
  background-image: asset-url("resmap_chemistry-2.png");
}

.constructioncrane {
  background-image: asset-url("resmap_constructioncrane.png");
}

.cycling {
  background-image: asset-url("resmap_cycling.png");
}

.dentist {
  background-image: asset-url("resmap_dentist.png");
}

.disability {
  background-image: asset-url("resmap_disability.png");
}

.factory {
  background-image: asset-url("resmap_factory.png");
}

.fishing {
  background-image: asset-url("resmap_fishing.png");
}

.foodtruck {
  background-image: asset-url("resmap_foodtruck.png");
}

.footprint {
  background-image: asset-url("resmap_footprint.png");
}

.fourbyfour {
  background-image: asset-url("resmap_fourbyfour.png");
}

.gay-female {
  background-image: asset-url("resmap_gay-female.png");
}

.gay-male {
  background-image: asset-url("resmap_gay-male.png");
}

.highschool {
  background-image: asset-url("resmap_highschool.png");
}

.hiking {
  background-image: asset-url("resmap_hiking.png");
}

.horseriding {
  background-image: asset-url("resmap_horseriding.png");
}

.hostel_0star {
  background-image: asset-url("resmap_hostel_0star.png");
}

.hotel_0star {
  background-image: asset-url("resmap_hotel_0star.png");
}

.hunting {
  background-image: asset-url("resmap_hunting.png");
}

.lodging_0star {
  background-image: asset-url("resmap_lodging_0star.png");
}
.mastcrane1 {
  background-image: asset-url("resmap_mastcrane1.png");
}
.medicalstore {
  background-image: asset-url("resmap_medicalstore.png");
}
.mine {
  background-image: asset-url("resmap_mine.png");
}
.mobilephonetower {
  background-image: asset-url("resmap_mobilephonetower.png");
}
.motel-2 {
  background-image: asset-url("resmap_motel-2.png");
}
.ophthalmologist {
  background-image: asset-url("resmap_ophthalmologist.png");
}
.powerlinepole {
  background-image: asset-url("resmap_powerlinepole.png");
}
.poweroutage {
  background-image: asset-url("resmap_poweroutage.png");
}

.powerplant {
  background-image: asset-url("resmap_powerplant.png");
}
.powersubstation {
  background-image: asset-url("resmap_powersubstation.png");
}
.radio-station-2 {
  background-image: asset-url("resmap_radio-station-2.png");
}
.recycle {
  background-image: asset-url("resmap_recycle.png");
}
.resort {
  background-image: asset-url("resmap_resort.png");
}
.restaurant_fish {
  background-image: asset-url("resmap_restaurant_fish.png");
}
.sawmill-2 {
  background-image: asset-url("resmap_sawmill-2.png");
}
.school {
  background-image: asset-url("resmap_school.png");
}
.septic_tank {
  background-image: asset-url("resmap_septic_tank.png");
}
.shootingrange {
  background-image: asset-url("resmap_shootingrange.png");
}
.solarenergy {
  background-image: asset-url("resmap_solarenergy.png");
}
.sozialeeinrichtung {
  background-image: asset-url("resmap_sozialeeinrichtung.png");
}
.summercamp {
  background-image: asset-url("resmap_summercamp.png");
}
.university {
  background-image: asset-url("resmap_university.png");
}
.veterinary {
  background-image: asset-url("resmap_veterinary.png");
}
.watertower {
  background-image: asset-url("resmap_watertower.png");
}
.wifi {
  background-image: asset-url("resmap_wifi.png");
}
.windturbine {
  background-image: asset-url("resmap_windturbine.png");
}
.youthhostel {
  background-image: asset-url("resmap_youthhostel.png");
}


button.factory:active {
  background-color:#D2D2D2;
  border:1px solid #565656;
}

.icecream img.test {
  background-image: asset-url("resmap_school.png");
}

button.default, button.aed-2, button.construction, button.daycare, button.drugstore, button.fetalalcoholsyndrom, button.firstaid, button.hospital-building, button.medicine, button.nursery, button.nanny, button.shooting, button.villa, button.army, button.bomber-2, button.chemistry-2, button.constructioncrane, button.cycling, button.dentist, button.disability, button.factory, button.fishing, button.foodtruck, button.footprint, button.fourbyfour, button.gay-female, button.gay-male, button.highschool, button.hiking, button.horseriding, button.hostel_0star, button.hotel_0star, button.hunting, button.lodging_0star, button.mastcrane1, button.medicalstore, button.mine, button.mobilephonetower, button.motel-2, button.ophthalmologist, button.powerlinepole, button.poweroutage, button.powerplant, button.powersubstation, button.radio-station-2, button.recycle, button.resort, button.restaurant_fish, button.sawmill-2, button.school, button.septic_tank, button.shootingrange, button.solarenergy, button.sozialeeinrichtung, button.summercamp, button.university, button.veterinary, button.watertower, button.wifi, button.windturbine, button.youthhostel ,button.factory, button.school, button.restaurant, button.icecream, button.golfing, button.fastfood, button.display {
  @include border-radius(4px);
  @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.5));
  background-color:#f5f5f5;
  border: 1px solid white;
  width: 34px;
  height: 41px;
  display:block;
  float:left;
  margin:0 12px 0 0;
  cursor:pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.box.plain.orange {
  background-color:#FFF0BD;
  background-position:initial initial;
  background-repeat:initial initial;
  padding:20px;
}

.center {
  margin-left:auto;
  margin-right: auto;
}

/* Used for the Switch effect: */
  .cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: asset-url("on_off.png") repeat-x; display: block; float: left; height: 22px; }

  .cb-enable span, .cb-disable span {
    font-weight: bold;
    background-repeat: no-repeat;
    line-height: 22px;
    display: block;
  }

  .cb-enable span {
    background-position: 0px;
    width: 30px;
  }

  .cb-disable span {
    background-position: -72px;
    width: 30px;
  }

  .cb-disable.selected {
    background-position: 0 -22px;
  }

  .cb-disable.selected span {
    background-position: -30px;
    width: 20px;
  }

  .cb-enable.selected {
    background-position: 52px;
  }
  .cb-enable.selected span {
    background-position: 103px;
    width: 20px;
    color: #fff;
  }
  .switch label {
    cursor: pointer;
  }
  .field {
    display: inline-block;
    margin-right: 5px;
  }
