.fullscreen {
  background: none;
}

.fullscreen #wrapper,.fullscreen #collections-main, .fullscreen .h50 {
  height:100%;
}

.fullscreen #container {
  margin-left:0px;
  margin-right:0px;
  padding-top: 0px;
}

.fullscreen .tableheader {
}

.fullscreen .tablescroll {
  height:89%;
}

.fullscreen #toolbar, .fullscreen #header, .fullscreen #footer-span {
  display:none;
}

.fullscreen .oleftcollapse {
  display:block;
  left: -2px;
}

.fullscreen .expand-collapse_button {
  position: absolute;
  z-index:1;
}

.mapcontainer {
  position: relative;
}
