.fullscreen {
  background: none;

  #wrapper,
  #collections-main {
    height:100%;
  }

  #container {
    margin-left:0px;
    margin-right:0px;
    padding-top: 0px;
  }

  #toolbar,
  #header,
  #footer-span {
    display:none;
  }

  .oleftcollapse {
    display:block;
    left: -2px;
  }
  .oleftexpand {
    display:block;
    left: 0px;
  }
  .expand-collapse_button {
    position: absolute !important;
    z-index:10;
    top: 50%;
    left: -2px;
    margin-top: -24px;
  }

  .tableheader {
  }

  .tablescroll {
  }

  .tablescroll.expanded.sites {
  }

  .tablescroll.sites {
  }

  #right-panel.sites {
  }
}


.mapcontainer {
  position: relative;
}
