.feditor-top {
  height: 10px;
}
.feditor-container {
  padding: 0 5px 13px 3px;
}
.hierarchy-container {
  @include border-radius(3px);
  @include box-shadow(0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset);
  padding: 4px;
  margin-top:6px;
  width: 272px;
  height: 200px;
  overflow: auto;
}

.change_layer {
  font-size: 12px;
  color: #555555;
  position: absolute;
  right: 5px;
  top: 33px;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.hierarchy-viewer  {
  padding: 10px 0 30px;

  .filter-header {
    @include clearfix;
    margin: 3px 0 6px;

    #collapse-all {
      @include border-radius(3px);
      background: #d0d0d0;
      display: inline-block;
      padding: 2px 5px 2px 5px;
      text-decoration: none !important;
      cursor: pointer;
    }
  }

  .f-name {
    width: 55%;
  }

  .f-id{
    width: 20%;
  }

  ul.h-editor {
    margin: 0;
    padding: 0;

    li {
      /*@include transition(all ease-out 0.2s);*/
      list-style: none;
      line-height: 24px;
      padding: 0;
      overflow: hidden;

      .name {
        @include border-radius(4px);
        @include clearfix;
        padding: 2px 0 2px 10px;
        position: relative;
        cursor: pointer;

        .n-label {
          display: block;
          width: 85%;
          float: left;
        }

        .action-buttons {
          display: inline-block;
          vertical-align: middle;
        }

        .icon {
          padding: 0 !important;
          margin: 0 2px;
          display: none;
        }

        .icon.editing {
          display: inline-block;
        }

        span.arrow {
          display: block;
          width: 0px;
          height: 0px;
          border-style: solid;
          float: left;
          margin: 8px 4px 0 0;
          cursor: pointer;

        }

        span.number {
          font-size: 75%;
          color: #999999;
        }
      }

      .fields {
        @include box-sizing(border-box);
        @include clearfix;
        padding: 6px 0 4px 15px;
      }

      &.on {

        > div.name {
          background: #d0d0d0;
          > .icon {
            display: inline-block;
          }
        }
      }

      &.expanded {
        height: auto;
        .arrow {
          border-width: .6em .35em 0 .35em;
          border-color: #000000 transparent transparent transparent;
        }
      }

      &.collapsed {
        height: 30px;
        .arrow {
          border-width: .35em 0 .35em .6em;
          border-color: transparent transparent transparent #000000 ;
        }
      }

      &.expanded.active + li {
        margin-top: -10px;
      }

      ul {
        margin: 1px 0 0 25px;
      }
    }
  }
}

.mclist.wp100 {
  @include box-sizing(border-box);
  width: 100%;

  li {
    @include clearfix;
    padding: 4px 0 2px 0;

    input {
      @include box-sizing(border-box);

      &.arrowinput {
        width: 85px !important;
        padding-left: 4px;
        display: block;
        float: left;
      }

      &.ux-text {
        width: 55%;
        margin-left: 5px;
        padding-left: 4px;
        display: block;
        float: left;
      }

      &.ux-clist {
        width: 55%;
        margin-left: 5px;
        display: block;
        float: left;
      }
    }

    .arrowgrey {
      display: block;
      float: left;
    }

    .clist-remove,
    .clist-add {
      float: right;
    }
  }

}
