.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
#wrapper {
  min-width: 910px;
}
#container {
  height:100%;
  width: 96%;
  min-width: 800px;
}
body.fullscreen #container {
  width: 100%;
  overflow: hidden;
}
#header {
  width: 100%;

  .left {
    width: 25%;

    img {
      margin-left: 8px;
    }
  }
  .BreadCrumb {
    width: 50%;
    margin-top: 20px;
    margin-right: 25px;

    li {
      max-width: 400px;

      a {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
  }

  ul.locale-selector {
    font-size: 12px;
    width: 15%;
    height: 16px;
    text-align: right;
    margin-right: 30px;
    margin-top: 25px;

    li {
      display: inline;
      list-style: none;
      padding: 2px 4px;

      &.selected {
        @include border-radius(3px);
        background: #dedede;
        cursor: default;
      }
    }
  }
}

#footer-container {
  width: 96%;
  min-width: 920px;
}

#toolbar {
  width: 96%;
}

#NavMenu ul {
  background: transparent;
}

.refine-popup a.button.white {
  padding: 7px 5px !important;
}



::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

#export {
  margin:0;
  padding:2px;
  display:inline-block;
}

#export .link {
  color: black;
  text-decoration:underline;
  cursor:pointer;
  margin:0;
}

.delete-collection-or-sites {
  height:60px;
}

.delete-collection-or-sites .left {
  margin-right:10px;
}

.settings-form label {
  padding-bottom:5px;
}

.white-space-normal {
  white-space:normal;
}

.sitesBox {
  font-size: 12px;
  padding: 1px 0 !important;
  height: 37px;
  margin-bottom: 13px !important;
  margin-right: 13px !important;
}

.sitesDescription {
  margin-left: 5px;
}
.sitesCount {
  font-size: 23px;
  height: 20px;
}
.csvDownload {
  margin: 3px 5px !important;
}

.loading {
  background: asset-url("loading_white.gif") no-repeat;
  padding: 0 0 0 27px;
}

#validating_msg {
  padding: 5px 5px 5px 32px;
  background-position: 4px 2px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.memberHeaderColumn span {
  max-width: 265px;
  display: inline-block;
}

/* ------------ table ------------------- */
.GralTable {

  tr { clear:both }

  td {
    padding:0px 6px;

    &.add {
      color:#1e87c9
    }
  }
  button {
    vertical-align: middle
  }
  span { vertical-align: middle;
  }
  .selected {
    @include border-radius(4px);
    background-color: #D0D0D0;
  }
}
.titletable {
  padding:4px 0 2px 2px;
  display:inline-block !important;
  margin-left:5px !important
}
.exp {
  background: url(#{$InsteddRailsUrl + "/theme/images/icons/misc/black/arrowRight.png"}) no-repeat 2px 50%;
  padding-left:16px
}
.col {
  background: url(#{$InsteddRailsUrl + "/theme/images/icons/misc/black/arrowDown.png"}) no-repeat 0px 50%;
  padding-left:16px
}

.box.nopadd {
  padding: 0;
  .left { border-right: 1px solid #eeeeee;}
}

#import-wizard-main .GralTable {
  td {
    word-wrap:break-word;
  }
}


.grayselected {
  @include border-radius(5px);
  background: #EBEBEB;
}

ul.taglist {
  @include border-radius(3px);
  @include box-shadow(0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset);
  padding:0 4px;
  border:1px solid #dddddd;
  height:128px;
  overflow:auto;
  overflow-x:hidden;
  margin-bottom:3px;

  li {
    @include border-radius(3px);
    margin:3px 0;
    border:1px solid #dddddd;
    cursor: pointer;
    position: relative;
    a {
      display:block
    }
    &:hover {
      background-color:#eaeaea
    }
    &:after {
      background:url(#{$InsteddRailsUrl + "/theme/images/interface/add.png"}) no-repeat 98% -15px;
      content:'';
      display: table;
      position: absolute;
      right: 5px;
      top: 0px;
      width: 18px;
      height: 18px;
    }
  }
}

.box {
  @include box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.3));
  position:relative;

  &.add {
    padding:0 5px;
    margin-top:10px;
    width:610px;
    height:30px;
    cursor: pointer;

    span {
      color:#1f86c8;
      display:inline-block;
      padding-top:8px;
    }
  }

  label { color:#555555 }
}

.toptitle {
  width: 550px;

  span { color: #000000 }
}


.middlebuttons {
  margin-top:5px;

  & > div {
    color: #555555 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 195px;

    &:after {
      content: ',';
      display:inline-block;
    }

    &:last-child:after {
      display: none;
    }
  }

  & > div.superblyTagfieldDiv {
    overflow: visible;
    text-overflow: clip;

    & > div {
      overflow: visible;
      text-overflow: clip;
    }
  }
}


.feditor-container {
  position:relative;

  .rightbuttons {
    top: -6px;
    right: 5px;
  }
}

.w30.feditor-sidebar {
  width: 280px !important;

  & > input[type="text"] {
    width: 275px !important
  }
  & > select {
    width:280px !important
  }
}

.fmap {
  background-image: asset-url("map.png");
  position: relative;
  left: 6px;

  &.active { background-position: 0px -60px; }
}
.ftable {
  background-image: asset-url("table.png");

  &.active { background-position: 0px -60px; }
}

td.loadmore { height: 36px }


.hidden-until-loaded { display: none }
.ready { display: inherit !important }

.highlight { background-color: yellow; }

.greyback {
  @include border-radius(3px);
  background:#d0d0d0;
  line-height: 22px;
  display:inline-block;
  margin:2px 2px 2px 0;
  padding-right:4px;

  button {
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    color: #666666;
  }

  span {
    vertical-align: baseline;
    margin: 0 0 0 3px;
    color: #666666;
    a { color:#000000 }
  }

  &:active span { display:inline-block }
}

.expdiv,
.coldiv {
  border-bottom:1px solid #dddddd;
  padding-left:0px !important;
  width:95%;

  span {
    color: #555555;
    padding: 0 2px 0 22px;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    margin-bottom: -2px;
    vertical-align: middle;
  }
}
.coldiv span {
  background: url(#{$InsteddRailsUrl + "/theme/images/icons/misc/grey/arrowRight.png"}) no-repeat 10px 50% #ffffff;
}
.expdiv span {
  background: url(#{$InsteddRailsUrl + "/theme/images/icons/misc/grey/arrowDown.png"}) no-repeat 10px 50% #ffffff;
}

.tableheader .pback {
  margin-left: 3px;
  margin-top:6px;
}

.mapheader .greyback {
  margin-top: 3px;
}

.tableheader.expanded .greyback {
  margin-left:3px;
}

.GralTable button.farrow { margin: 3px 2px !important;}

.createCollection { color: #3d73ad; }

.rightbuttons {
  position:absolute;
  right:5px;
  top:5px;

  button {
    margin: 0;
    vertical-align: middle;
  }

  .btupdn {
    display: inline-block;
    vertical-align:middle;
    width:24px;
    height:24px;
    position:relative;

    .fmovedown {
      background:asset-url("moveDown.png") no-repeat; position:absolute; bottom:1px;
    }
    .fmoveup {
      background:asset-url("moveUp.png") no-repeat; position:absolute; top: 0;
    }

    .fmoveup, .fmovedown {
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      display: inline-block;
      height: 12px;
      width: 24px;

      &:hover {
        background-position: 0 -30px;
      }

      &:active {
        background-position: 0 -60px;
      }

      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        background-position: 0px -90px;
      }
    }
  }
}

.hierarchy {
  img:hover { opacity: 0.5; }
  span:hover { opacity: 0.5; }
  &.active { background:#d0d0d0; }
}
.header_text {
  margin-bottom: 5px;
  font-size: 18px;
}

.template_text {
  float:left;
  width: 600px;

  span {
    color: #7FA9E4;
    cursor: pointer;
  }
}
.stat {
  @include border-radius(4px);
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align:middle;
}
.list-box {
  color: #000;
  border: 1px solid #eee;
  margin-bottom: 1.5em;
  height: 120px;
  width: 280px;
  overflow: auto;
}

.permission-edtior {
  line-height: 28px;

  span {
    display: inline-block;
    min-width: 180px;
  }
}

.orange { color:#F60; }
.black { color:black; }


/* Import Wizard */

.error_description li {
  margin-top: 5px;
  font-weight: bold;

  .moreInfo {
    margin-left: 18px;
    font-size: 10px;
    line-height: initial;
    font-weight: normal;
  }
}

.error_column li {
  font-size: 14px;
}

.info-items {
  margin-left: 5px;
}

#columnUsageTemplate {

  .popup-row { margin-bottom:5px;}

  hr { margin-bottom:10px;}
}

#import-wizard-main .alert { margin:0px;}

.info-box {
  color:#555555;
  background-color: #D0D0D0;
  padding: 5px;
}

#columnUsageTemplate {

  #field-type-options { margin-top: 5px;}
  .popup-row label {color: #555;}
}

.column_header.error_column { color: #F60;}

.box.w80,
.tablewrapp.w80,
form.w80 {
  width: 960px;
}

.empty_hierarchy_message {
  vertical-align: middle;
  text-align: center;
  font-style: italic;

  #empty_hierarchy {
    background: asset-url("hierarchy_icon.png") no-repeat;
    width: 45px;
    height: 70px;
    display: inline-block;
  }
}

.paddchild {
  background: asset-url("icon-addchild.png") no-repeat;
  width: 24px;
  height: 24px;
  border:none;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.pdelete {
  background: asset-url("icon-trash-plain.png") no-repeat;
  width: 24px;
  height: 24px;
  border:none;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

a.tgrey {
  cursor: pointer;
}

.refine {
  color: #555555;
}



.fancybox-inner {

  .box.alert {
    @include box-shadow(none);
    padding: 8px;
    margin: 0;
  }

  .bottom-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    a {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}


.sbox.grey.confirm {
  @include clearfix();
  background-color: #d0d0d0;
  padding: 6px !important;
  div {
    background-color: inherit;
    line-height: 16px !important;
    &.icon.fclose.black {
      background-position: 0 -60px;
      margin-top: -1px;
      float: left;
    }
    &.action-buttons {
      text-align: right;
      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

select.condition,
select.compare {
  width: 200px;

  & + .premove {
    vertical-align: middle;
  }
}

.people-notification {
  @include clearfix();
  margin-top: 15px;

  > div {
    @include box-sizing(border-box);
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .list-box {
    @include box-sizing(border-box);
    width: auto;
    padding: 5px;

    label {
      display: block;
      margin: 3px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.wp100 {
  width: 100%;

  .superblyTagfieldDiv {
    width: inherit;
  }
}
