.sitesBox {
  height: 37px;
  padding-top: 1px !important;
  padding-right: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 0px !important;
  font-size: 12px;
  margin-bottom: 13px !important;
  margin-right: 13px !important;
}

.sitesDescription {
  margin-left: 5px;
}
.sitesCount {
  font-size: 23px;
  height: 20px;
}
.csvDownload {
  margin: 3px 5px !important;
}

/* ------------ table ------------------- */
.GralTable td { padding:2px 6px }
.GralTable td.add { color:#1e87c9 }
.GralTable button { vertical-align:middle }
.GralTable span { vertical-align:middle; display:inline-block }
.GralTable tr { clear:both }
.GralTable .selected { background-color: #D0D0D0; border-radius: 4px; }
.titletable { padding:4px 0 2px 2px; display:inline-block !important; margin-left:5px !important }
.exp { background: url(http://theme.instedd.org/theme/images/icons/misc/black/arrowRight.png) no-repeat 2px 50%; padding-left:16px }
.col { background: url(http://theme.instedd.org/theme/images/icons/misc/black/arrowDown.png) no-repeat 0px 50%; padding-left:16px }

.box.nopadd { padding:0 }
.box.nopadd .left { border-right:1px solid #eeeeee}
.h50 { height:500px}
.tableheader { background:url(http://theme.instedd.org/theme/images/interface/backtd.png) repeat-x left 32px #ffffff; position:absolute; height:40px; z-index:1 }
.tableheader.expanded { width:960px }
.tableheader.expanded div { display:inline-block }
.tableheader.expanded div:first-child { border-right:1px solid #eeeeee; width:330px }
.tableheader span, .tableheader button { vertical-align:middle }
.tablescroll { overflow:auto; height:410px; margin-top:40px }
.tablescroll .GralTable tr:nth-child(2) { background:none !important }
.tablescroll .GralTable tr.active td { background:#d0d0d0 }
.tablescroll .GralTable tr td:first-child { border-right:1px solid #eeeeee }
.tablescroll .GralTable td div { display:inline-block; overflow:hidden;  }
.tablescroll .GralTable td div img { display:inline-block; vertical-align:middle; margin:2px 2px 0 0 }
.tablescroll .GralTable td div span { margin-top:2px; white-space:nowrap }
.tablescroll .GralTable td div span.value { margin-top:0px; white-space:nowrap; vertical-align:top; cursor:pointer }
.tablescroll .GralTable td div p { display:inline-block; padding:0; margin:0px 0 0 0; vertical-align:middle; white-space:nowrap }
.tablescroll .GralTable td div p a { color:inherit }
.tablescroll .GralTable td button.farrow { float:right  }
.tablescroll .GralTable th.r { text-align:right }
.tablescroll .GralTable td.r { text-align:right }
.tablescroll .GralTable td.l span { display:inline-block; vertical-align:middle; height:4px }
.tablebottom { padding:15px 0 0 10px; color:#555555 }
.tablebottom span.loadmore { font-weight:bold; font-style:italic; text-align:center; margin-left:65px; width:615px; display:inline-block }

.tablescroll div { padding:0 8px; margin:5px 0 10px 0 }
.tablescroll hr { width:316px; margin:0px 0px 10px 5px }

ul.taglist { padding:0 4px; border:1px solid #dddddd; height:128px; overflow:auto; overflow-x:hidden; -webkit-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset; box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
ul.taglist li { background:url(http://theme.instedd.org/theme/images/interface/add.png) no-repeat 98% -15px; margin:3px 0; border:1px solid #dddddd; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor: pointer }
ul.taglist li:hover { background-color:#eaeaea }
ul.taglist li a { display:block }

.box { position:relative; -webkit-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.3); box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.3) }
.box.add { padding:0 5px; margin-top:10px; width:610px; height:30px; cursor: pointer }
.box.add span { color:#1f86c8; display:inline-block; padding-top:8px }
.box label { color:#555555 }
.message { padding-top:8px; padding-bottom:8px }
.toptitle { width:550px }
.toptitle span { color:#000000 }
.rightbuttons { position:absolute; right:2px; top:5px }
.rightbuttons button { margin:0 }

.feditor-container { position:relative }
.feditor-container .rightbuttons{ top:-6px; right:5px }
.w30.feditor-sidebar { width:280px !important }
.w30.feditor-sidebar > input[type="text"] { width:275px !important }
.w30.feditor-sidebar > select { width:280px !important }

.fmap { background-image: url(/assets/map.png); position: relative; left: 6px; }
.fmap.active { background-position: 0px -60px; }
.ftable { background-image: url(/assets/table.png); }
.ftable.active { background-position: 0px -60px; }

td.loadmore { height: 36px }

.w32 { width: 318px }

.tablescroll .superblyTagItems { display:inline-block;padding:0;margin:0 }
.tablescroll .superblyTagItem { top:4px;cursor:pointer }

.hidden-until-loaded { display: none }

.highlight { background-color: yellow; }

.stat { border-radius: 3px; display: inline-block; height: 17px; width: 18px }

/* FIXME: hack .ux-nstep as it does not work inside ko:each block */
.ord-buttons { position:relative; float:left; margin:0 4px; padding-right:2px }
.ord-buttons input { width:18px; height:16px; border-radius:4px; border:solid 1px #aaaaaa; color:transparent; background-color:transparent }
.ord-buttons button { cursor:pointer; width:16px; height:12px; left:2px; border:medium none; background-color:transparent; background-position:center 0; background-repeat:no-repeat }
.ord-buttons .up { position:absolute; top:1px; background-image:url(/assets/up.png) }
.ord-buttons .down { position:absolute; bottom:-1px; background-image:url(/assets/down.png) }
.ord-buttons button:hover, .ord-buttons button:focus { background-position: center -10px }
.ord-buttons button:active { background-position: center -20px }
