.sitesBox {
  height: 37px;
  padding-top: 1px !important;
  padding-right: 0px !important;
  padding-bottom: 1px !important;
  padding-left: 0px !important;
  font-size: 12px;
  margin-bottom: 13px !important;
  margin-right: 13px !important;
}

.sitesDescription {
  margin-left: 5px;
}
.sitesCount {
  font-size: 23px;
  height: 20px;
}
.csvDownload {
  margin: 3px 5px !important;
}

.GralTable td { padding:4px 6px }
.GralTable td.add { color: #1e87c9; cursor: pointer; }
.titletable { padding:4px 0 2px 2px; display:inline-block !important; margin-left:5px !important }
.exp { background: url(../theme/images/icons/misc/black/arrowRight.png) no-repeat 2px 50%; padding-left:16px }
.col { background: url(../theme/images/icons/misc/black/arrowDown.png) no-repeat 0px 50%; padding-left:16px }
