#settings {
  #preview-container{
    margin-top:20px;
    overflow:hidden;
    width: 100px;
    height: 100px;
  }

  #preview {
    width: 90px;
    height: 90px;
  }

  #cropbox-container {
    width: 300px;
    height: 300px;
  }
}
