#settings {
  #preview-container{
    margin-top:20px;
    overflow:hidden;
    width: 100px;
    height: 100px;
  }

  #logo-preview {
    margin-top:20px;

    span.preview {
      vertical-align: middle;
      padding-right: 15px;
    }

    #preview-container {
      display: inline-block;
      vertical-align: middle;
      @include border-radius(3px);
      border: #D0D0D0 1px solid;
      background-color: #FFFFFF;
    }
  }

  #preview {
    width: 90px;
    height: 90px;
  }

  #cropbox-container {
    width: 300px;
    height: 300px;
  }
}

#collection-logo {
  position:absolute;
  top:0;
  left:29px;
}

.logo-border {
  @include border-radius(3px);
  border: #D0D0D0 1px solid;
  background-color: #FFFFFF;
  width:99px;
  height:99px;

  img {
    padding: 3px;
  }
}
