#settings {
  #preview-container{
    margin-top:20px;
    overflow:hidden;
    width: 100px;
    height: 100px;
  }

  #preview {
    width: 90px;
    height: 90px;
  }

  #cropbox-container {
    width: 300px;
    height: 300px;
  }
}

#extra-logo {
  position:absolute;
  top:0;
  left:29px;
  width:99px;
  height:99px;
  @include border-radius(3px);
  border: #D0D0D0 1px solid;
  background-color: #FFFFFF;

  img {
    padding: 3px;
  }
}
