.GralTable th.members-tree {
  @include border-radius(8px 0 0 0 !important);
  background-color:#D0D0D0;
  background-image:none;
  color:#555555;
  border:1px solid white;
  width: 300px !important;
}

.GralTable td.member {
  padding: 0 5px;
}

.GralTable th.members-permission, td.members-permission {
  text-align: center;
  width: 60px;
}

.GralTable tr.membersFirstRow td {
  padding-top:10px;
  border:hidden;
}

.GralTable tr.membersRow td {
  border:hidden;
}

.members-collapse-icon {
  position:relative;
  top:1px;
  width:11px;
  height:11px;
}

.expandedMember td.lastCell {
  padding-bottom:5px;
}


hr.underlineExpandedMember {
  height:1px;
  margin:0;
  background-color: white;
}

.memberCustomPermissionsSite {
  height:32px;
}

.permissionCell .memberCustomPermissionsSite  {
  text-align: center;
  margin-top:0px;
}

.permissionCell .memberCustomPermissionsSite input[type="radio"] {
  margin-top: 8px;
}

.memberCustomPermissionsSite .members-collapse-icon {
  margin-top:8px;
}

.memberCustomPermissionsSiteName {
  font-weight: normal;
  color: #545454;
  width:220px;
  float:left;
  margin-top: 10px;
}

.memberRemoveCustomPermissionSite {
  float:right;
}


.permissionColumn {
  width:67px;
  height:32px;
  float: left;
  text-align: center;
  color: #555555;
  font-size: 12px;
  position:relative;
}

.permissionColumn input[type="radio"] {
  margin-top:8px;
}

.memberHeaderRow .permissionColumn.admin {
  padding-top:7px;
  height:25px;
  margin-top: 0px;
}

.memberHeaderRow .permissionColumn.summaryAll {
  font-weight: bold;
}

.memberHeaderRow .permissionColumn.summarySome {
  font-style: italic;
}

.lastColumn {
  height:32px;
  width:380px;
  padding-right:6px;
  float:left;
}

.memberHeaderColumn {
  @include box-sizing(border-box);
  width:290px;
  float: left;
  padding-left:6px;
  font-size: 12px;
}


.defaultLayerPermissionsRow .memberHeaderColumn {
  padding-left:19px;
}

.defaultLayerPermissionsTitle {
  margin-top:8px;
}

.memberDetailsTitle {
  font-weight: bold;
  color: #545454;
  text-align: center;
  height:21px;
  margin-left:5px;
}

.layerRow .memberHeaderColumn {
  padding-top:11px;
  padding-left: 73px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customPermissionsTitleRow .memberHeaderColumn {
  height:24px;
  padding-top: 8px;
}

.frame {
  margin-left: 6px;
  background-color: #DEDEDE;
}

.customPermissionsTitleRow .frame {
  height:14px;
  padding-top: 10px;
}

.customPermissionsTitleRow .permissionColumn {
  height:24px;
  padding-top:8px;
}

.customPermissionsTitleRow .permissionColumn .frame {
  margin-left: 0px;
}


.customPermissionsTitleRow .memberHeaderColumn .frame .memberDetailsTitle {
  text-align: left;
  padding-left: 6px
}

.customPermissionRow .frame {
  height: 32px;
  padding-left:12px;
}

.customPermissionRow .permissionColumn {
  background-color: #DEDEDE;
}

.customPermissionRow hr.underlineExpandedMember {
  width:272px;
  float:left;
  z-index: 1;
}

.customPermissionRow .permissionColumn hr.underlineExpandedMember {
  width:60px;
}

.customPermissionRow .permissionColumn .frame {
  padding-left:0px;
  margin-left:0px;
  position: relative;
}

.customPermissionRow .permissionColumn.admin hr.underlineExpandedMember {
  position: absolute;
  bottom: 0px;
  margin-bottom: -1px;
}

.addCustomPermissionRow .memberHeaderColumn .frame {
  padding-left:8px;
  height:32px;
}

.addCustomPermissionRow .autocomplete-site-input {
  float:left;
  width:240px;
}

.addCustomPermissionRow .clist-add {
  float:right;
  margin-top:3px;
}

.addCustomPermissionRow .permissionColumn {
  background-color: #DEDEDE;
}



.removeMemberRow .permissionColumn {
  padding-bottom:5px;
  padding-top: 5px;
}

.removeMemberRow .lastColumn {
  padding-bottom:5px;
  padding-top: 5px;
}

#disabled-name-warning-message {
  color: red;
  left: 56px;
  position: absolute;
  top: 7px;
  width: 340px;
  z-index: 1;
}

.table-header.sticky {
  position: fixed;
  z-index: 2;
  padding: 0;
  width: 960px;
  th.members-tree {
    @include border-radius(0 !important);
    width: 303px !important;
  }
  th.members-permission {
    width: 60px !important;
  }
}

#memberPermissionsTable {
  div {
    min-height: 20px;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.defaultLayerPermissionsRow, .layerRow, .memberHeaderRow {
  @include clearfix();
}

tr.membersRow {
  div {
    background-color: #ffffff;
  }
  &.expandedMember {
    div {
      background-color: #eeeeee;
    }
  }
}

.memberHeaderRow {
  border-bottom: 1px solid #eeeeee;
}
.removeMemberRow {
  padding: 5px 15px !important;
  line-height: 14px !important;
}
