// Tables
// ----------------

.tableheader.expanded {
  width:960px;
  div {
    display:inline-block
    &:first-child {
      border-right:1px solid #eeeeee;
      width:295px;
    }
  }
}



.tableheader span, .tableheader button { vertical-align:middle }

.tablescroll {
  overflow:auto;
  height:420px;
  border-bottom: 1px #EEE solid;
  span.loadmore {
    padding-top: 12px;
    vertical-align: middle;
    text-align:center;
    width:100%;
    height:30px;
    display:inline-block;
    border-top:1px #EEE solid;
  }

  div {
    padding:6px 8px;
    margin:5px 0 0 0;

    label {
      font-weight:bold;
      display: inline-block;
      overflow:hidden;
      text-overflow:ellipsis;
      vertical-align:sub;

      &.error {
        display: inline-block !important;
      }
    }
    span.value {
      color: #555555;
    }
    &.expdiv:hover,
    &.coldiv:hover {
      background: none;
    }
    @include clearfix();
  }
    tr td div.site_row:hover {
      background: #eeeeee;
    }
    tr td div.site_row.writeable:hover {
      cursor: pointer;
    }
  hr {
    width:316px;
    margin:0px 0px 10px 5px
  }
  table {
    width: 100%
  }
  .hierarchy-container {
    width: auto
  }
}

.left.panel.wp30 .tablescroll div {
  label {
    width:130px;
  }
  input {
    width:135px;
  }
}

.left.panel.wp50 .tablescroll div {
  label {
    width:250px;
  }
  input {
    width:210px;
  }
}

.tablescroll .GralTable tr:nth-child(2) { background:none !important }
.tablescroll .GralTable tr.active td { background:#d0d0d0 }
.tablescroll .GralTable tr td:first-child { border-right:1px solid #eeeeee }
.tablescroll .GralTable td div { display:inline-block; overflow:hidden;  }
.tablescroll .GralTable td div img { display:inline-block; vertical-align:middle; margin:2px 2px 0 0 }
.tablescroll .GralTable td div span { margin-top:2px; white-space:nowrap }
.tablescroll .GralTable td div span.value { margin-top:0px; white-space:nowrap; vertical-align:top; cursor:pointer }
.tablescroll .GralTable td div p { display:inline-block; padding:0; margin:0px 0 0 0; vertical-align:middle; white-space:nowrap }
.tablescroll .GralTable td div p a { color:inherit }
.tablescroll .GralTable td button.farrow { float:right  }
.tablescroll .GralTable th.r { text-align:right }
.tablescroll .GralTable td.r { text-align:right }
.tablescroll .GralTable td span { white-space: nowrap; vertical-align:middle; /*height:4px*/ }

.tablescroll .GralTable {
  border-bottom: 1px #EEE solid;
}

.stat-r { background:#ff4800; background-image:none !important; border-top:1px solid #bf3602; display:inline-block; vertical-align:middle; margin:0 2px 0 0 !important; width:12px; height:12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.stat-y { background:#fcbb00; background-image:none !important; border-top:1px solid #bc8b00; display:inline-block; vertical-align:middle; margin:0 2px 0 0 !important; width:12px; height:12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }
.stat-g { background:#79e820; background-image:none !important; border-top:1px solid #5bae18; display:inline-block; vertical-align:middle; margin:0 2px 0 0 !important; width:12px; height:12px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px }

.tablebottom {
  color: #555555;
  height: 35px;
  padding-top: 5px;
  padding-right:5px;

  .cadd {
    vertical-align: middle;

    & + span {
      cursor: pointer;
      margin-left: -4px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.left.panel.wp30 {
  @include box-sizing(border-box);
  @include transition(all ease-out 0.2s);
  width: 300px;
  position:absolute;
  overflow: hidden;
  &.collapse {
    width: 0px;
    overflow: hidden;
  }
}
.left.panel.wp50 {
  @include box-sizing(border-box);
  @include transition(all ease-out 0.2s);
  width: 500px;
  position:absolute;
  &.collapse {
    width: 0px;
    overflow: hidden;
  }
}
#right-panel.wp50 {
  @include box-sizing(border-box);
  @include transition(all ease-out 0.2s);
  width: 100%;
  padding-left:500px;
  padding-bottom:10px;

  &.expand {
    padding-left:10px;
  }
}
#right-panel.wp70 {
  @include box-sizing(border-box);
  @include transition(all ease-out 0.2s);
  width: 100%;
  padding-left:300px;
  padding-bottom:10px;

  &.expand {
    padding-left:10px;
  }
}

.tableheader.expanded {
  width: 100%;
  height: 34px;
  .title {
    display: inline-block;
    padding-top: 3px;
    width: 272px;
  }

  .greyback {
    vertical-align: top;
    margin-top: 5px;
  }
}

.fht-table-init {
  th {
    @include clearfix;
    vertical-align: top;
    a.fancybox.left {
      margin-top: 0px;
    }
    a + span {
      line-height: 14px;
      display: block;
      margin-top: 4px;
      width: 78%;
      float: left;
      word-break:break-all;
      cursor: pointer;
    }
  }
}

@media screen and (min-height: 300px) {
  .cheight.tablescroll { height: 200px !important; }
  .cheight#map { height: 240px !important; }
}

@media screen and (min-height: 400px) {
  .cheight.tablescroll { height: 280px !important; }
  .cheight#map { height: 320px !important; }
}

@media screen and (min-height: 500px) {
  .cheight.tablescroll { height: 380px !important; }
  .cheight#map { height: 420px !important; }
}

@media screen and (min-height: 600px) {
  .cheight.tablescroll { height: 480px !important; }
  .cheight#map { height: 520px !important; }
}

@media screen and (min-height: 700px) {
  .cheight.tablescroll { height: 580px !important; }
  .cheight#map { height: 620px !important; }
   @-moz-document url-prefix() {
    .cheight.tablescroll { height: 530px !important; }
    .cheight#map { height: 570px !important; }
  }
}
@media screen and (min-height: 800px) {
  .cheight.tablescroll { height: 630px !important; }
  .cheight#map { height: 670px !important; }
}

body.fullscreen {

  @media screen and (min-height: 500px) {
    .cheight.tablescroll { height: 385px !important; }
    .cheight#map { height: 425px !important; }
  }

  @media screen and (min-height: 650px) {
    .cheight.tablescroll { height: 550px !important; }
    .cheight#map { height: 590px !important; }
  }

  @media screen and (min-height: 700px) {
    .cheight.tablescroll { height: 600px !important; }
    .cheight#map { height: 640px !important; }
  }
  @media screen and (min-height: 800px) {
    .cheight.tablescroll { height: 705px !important; }
    .cheight#map { height: 745px !important; }
  }

}

@-moz-document url-prefix() {
  @media screen and (min-height: 700px) {
    body.fullscreen .cheight.tablescroll { height: 530px !important; }
    body.fullscreen .cheight#map { height: 570px !important; }
  }
}
