-# Custom logo template
%script{type: "text/html", id: "custom-logo-template"}
  #collection-logo.logo-border{ko(collectionLogo: :collection_has_logo, slideDuration: 300)}
    %img{ko(attr: {src: :image_src})}
