.greyback
  %span#export
    Export this result in
    %span.link{ko(click: '$root.exportInRSS')} RSS
    ,
    %span.link{ko(click: '$root.exportInJSON')} JSON
    or
    %span.link{ko(click: '$root.exportInCSV')} CSV
