-# Sites template
%script{type: "text/html", id: "map-sites-template"}
  <!-- ko foreach: sites -->
  %tr{ko(css: {active: "$data == $root.selectedSite()"})}
    %td
      %div
        %p{ko(style: {marginLeft: "'' + (($parent.level + 1) * 20) + 'px'"}, click: '$root.selectSite'), style: 'cursor: pointer'}
          %span.stat-r
          %span{ko(text: :highlightedName)}
      %button.farrow{ko(click: '$root.editSite'), type: "button"}
  <!-- /ko -->
