-# Sites template
%script{type: "text/html", id: "table-sites-template"}
  <!-- ko foreach: sites -->
  %tr
    %td.siteCell
      %a{ko(style: {marginLeft: "'' + (($parent.level + 1) * 20) + 'px'", width: "'' + (240 - ($parent.level + 1) * 20) + 'px'"}), style:'float:left; margin-top:0px; margin-bottom:0px;padding:0px;padding-top:10px; width:240px; height:30px'}
        %span{ko(html: :highlightedName)}
      %button.enterRow.farrow{ko(click: '$root.editSite'), type: :button}
    %td.padded
      %span{ko(html: :highlightedLat)}
    %td.padded
      %span{ko(html: :highlightedLng)}
    <!-- ko foreach: $root.currentCollection().fieldsByLayers() -->
    %td.padded
      %span{ko(attr: "{ title: $parent.highlightedPropertyValue($data) }", html: "$parent.highlightedPropertyValue($data)"), style: 'vertical-align:top'}
    <!-- /ko -->
    %td.timeago.padded{ko(attr: "{title: updatedAt}", text: :updatedAtTimeago)}
    %td.padded
  <!-- /ko -->
