%p
  You are currently browsing a snapshot.
  To make updates to the current version, please
  = ( link_to 'go back to present time', unload_current_snapshot_collection_path(collection), :method => :post ) + '.'