-# This partial expects some parameters:

-# action_code : a code that's used to disambiguate in case more than one instance of this partial view is used in the same page. We just need this to create html element ids. This is right: 'i-ll-delete-something'. This is wrong: 'i ll delete something'.

-# action_description : the description of the action that get's executed once the user confirms. It's shown as is to the user. Example: 'Delete contacts'

-# icon_class : a class name referring to the icon to be used. It's shown to the user together with the action_description. Example: 'fdelete'

-# confirm_action_prompt : when the user clicks the initial action button, we display a grey box and ask her to confirm. We expect confirm_action_prompt to be a question to double check with user. Example: 'Are you sure you want to delete all your contacts?'

-# action_url : a URL that will cause the confirmed action to be executed. Example: '/collections/4'
%a{ko(click: :open_confirm, visible: "!confirming()"), :class => "icon #{icon_class} black"}
  = action_description
.sbox.grey.confirm{ko(visible: :confirming), style: 'display:none;width:372px;'}
  .icon.fclose.black{ko(click: :close_confirm)}
  %div
    = confirm_action_prompt
    %hr
  .action-buttons
    %a.grey{ko(click: :close_confirm)} Cancel
    %a.button.white{ko(click: :confirm)}
      = 'Confirm'
