- if single_editing_mode
  %input{ ko(value: :value, valueUpdate: :afterkeydown, event: {keydown: :keyPress, blur: :save}, hasfocus: true), type: :text }
- else
  %input.right.w20{ ko(value: :value), type: :text }
  .clear
