%hr/
%label{ko(css: {error: 'impl().contextError'})} Context
%p.smalltext The context of this identifier
= ko_text_field_tag 'impl().context', css: {error: 'impl().contextError'}
%hr/
%label{ko(css: {error: 'impl().agencyError'})} Agency
%p.smalltext The agency of this identifier
= ko_text_field_tag 'impl().agency', css: {error: 'impl().agencyError'}
