- if single_editing_mode
  = ko_date_field_tag :valueUI, hasfocus: true, event: {keydown: :keyPress, blur: :closeDatePickerAndSave}, html: {class: 'ux-datepicker', id: 'date-input'}
- else
  = ko_date_field_tag :value, html: {class: 'ux-datepicker', id: 'date-input'}