- if single_editing_mode
  .hierarchy-container{ko(event: {blur: :save, keydown: :keyPress}, hasfocus: true), tabIndex: -1}
    <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
    <!-- /ko -->
  .clear
- else
  .hierarchy-container
    <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
    <!-- /ko -->
