- if single_editing_mode
  .image_gallery_thumbnails
    %img{src: "https://manas.tech/images/staff/jedi.jpg"}
    %img{src: "https://manas.tech/images/staff/jedi.jpg"}
    %img{src: "https://manas.tech/images/staff/jedi.jpg"}
  We could put a :javascript tag here, but it's fired on page render - not when the field is rendered
- else
  Site edit mode
