- if single_editing_mode
  /ko if: allowsDecimals()
  = ko_number_field_tag :value, hasfocus: true, event: {keydown: :keyPress, blur: :save}, css: { error: :error }, html: { step: "any"}
  //ko
  /ko if: !allowsDecimals()
  = ko_number_field_tag :value, hasfocus: true, event: {keydown: :keyPress, blur: :save}, css: { error: :error }, html: { step: 1}
  //ko
- else
  /ko if: allowsDecimals()
  = ko_number_field_tag :value, html: {class: 'right w20', step: "any"}
  //ko
  /ko if: !allowsDecimals()
  = ko_number_field_tag :value, html: {class: 'right w20', step: 1}
  //ko
  .clear

