- if single_editing_mode
  %ul.superblyTagItems{ko(foreach: :value)}
    %li.superblyTagItem{ko(click: '$parent.removeOption')}
      %span{ko(text: '$parent.labelFor($data)')}
      %a x
  .superblyTagfieldClearer.select-many
  #select-many-search{style:'width:250px'}
    /ko if: options.length >= 5
    %input.ux-search{ko(value: :filter, valueUpdate: :afterkeydown, hasfocus: true, event: {keydown: :filterKeyDown}, attr: {id: "'select-many-input-' + code"}), type: :text, style: 'width:100%'}
    //ko
    %ul.taglist{ko(foreach: :remainingOptions), style: 'width:100%;margin-top:2px'}
      %li{ko(attr: {style: 'selected() ? "background-color:#DADAEA" : ""'})}
        %a{ko(text: :label, click: '$parent.selectOption')}
  %button{ko(click: :save, clickBubble: false), style: 'float:right; margin:0;'} Hide
  .clear

- else
  %ul.superblyTagItems{ko(foreach: :value)}
    %li.superblyTagItem{ko(click: '$parent.removeOption')}
      %span{ko(text: '$parent.labelFor($data)')}
      %a x
  /ko if: !expanded()
  /ko if: !value() || value().length == 0
  %span{ko(click: :expand), style: 'text-decoration:underline;cursor:pointer', id: "Add more"} Add...
  //ko
  /ko if: value() && value().length > 0
  %span{ko(click: :expand), style: 'text-decoration:underline;cursor:pointer', id: "Add more"} Add more...
  //ko
  //ko
  .superblyTagfieldClearer
    /ko if: expanded()
    #select-many-search{style:'width:250px'}
      /ko if: options.length >= 5
      %input.ux-search{ko(value: :filter, valueUpdate: :afterkeydown, hasfocus: true, event: {keydown: :filterKeyDown}, attr: {id: "'select-many-input-' + code"}), type: :text, style: 'width:100%'}
      //ko
      %ul.taglist.box{ko(foreach: :remainingOptions), style: 'margin-right:60px;margin-top:2px;width:100%'}
        %li{ko(attr: {style: 'selected() ? "background-color:#DADAEA" : ""'})}
          %a{ko(text: :label, click: '$parent.selectOption')}
    //ko
