- if single_editing_mode
  %input.autocomplete-site-input{ ko(autocomplete: :valueUI,  event: {blur: :closeAutocompleteAndSave, keydown: :keyPress}, source: "$root.currentCollection().searchSitesUrl()"), type: :text }
- else
  %input.autocomplete-site-input{ ko(autocomplete: :valueUI, source: "$root.currentCollection().searchSitesUrl()"), type: :text }
