- if single_editing_mode
  %input{ ko(autocomplete: :valueUI, source: '$root.currentCollection().allSites()', event: { keydown: :keyPress }), type: :text }
- else
  %input{ ko(autocomplete: :valueUI, source: '$root.currentCollection().allSites()'), type: :text }