- if single_editing_mode
  %input.autocomplete-site-input{ ko(autocomplete: :valueUI,  event: {blur: :closeAutocompleteAndSave}, source: "$root.currentCollection().searchSitesUrl()", event: { keydown: :keyPress }), type: :text }
- else
  %input.autocomplete-site-input{ ko(autocomplete: :valueUI, source: "$root.currentCollection().searchSitesUrl()"), type: :text }
