- if single_editing_mode
  = ko_text_field_tag :value, hasfocus: true, event: {keydown: :keyPress, blur: :save}, css: { error: :error }
- else
  = ko_text_field_tag :value, html: {class: 'right w20'}, css: { error: :error }
  .clear

